body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #888;
  padding: 2px 4px;
}

tr:nth-child(even) {
  background-color: #fcfff8;
}
